.first-sec {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    position: absolute;
}
.form{
    backdrop-filter: blur(3px);
    border-radius: 20px;
    margin-top: 50px;
    border: 2px solid rgba(255, 255, 255, 0.528);
    height: 550px;
    box-shadow: inset 0 0 20px white;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.376);

}

@media only screen and (max-width:600px) {
    .form {
        width: 150px;
    }

    .input-2 {
        width: 200px;
    }
}